.header{
    height: 90px;
    background-color: #20315f;
    color: white;
}
.header .logo{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    height: 90px;
    line-height: 90px;
    font-size: 26px;
}
.header ul{
    margin-top: 55px;
    float: right;
}
.header li{
    float: left;
    list-style: none;
    margin-right: 25px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
}
.header li.active{
    border-bottom: 2px solid white;
}
.header li:hover{
    background-color: darkslategrey;
}